[submodule "Xmu.Crms.Shared"]
	path = Xmu.Crms.Shared
	url = https://github.com/Librazy/Xmu.Crms.Shared.git
	branch = master
[submodule "Xmu.Crms.Services.ViceVersa"]
	path = Xmu.Crms.Services.ViceVersa
	url = https://github.com/Anna-Wen/Xmu.Crms.Services.ViceVersa.git
	branch = master
[submodule "Xmu.Crms.Web.ViceVersa"]
	path = Xmu.Crms.Web.ViceVersa
	url = https://github.com/Anna-Wen/Xmu.Crms.Web.ViceVersa.git
	branch = master

[submodule "Xmu.Crms.Services.Insomnia"]
	path = Xmu.Crms.Services.Insomnia
	url = https://github.com/Anna-Wen/Xmu.Crms.Services.Insomnia.git
	branch = master
[submodule "Xmu.Crms.Services.HighGrade"]
	path = Xmu.Crms.Services.HighGrade
	url = https://github.com/Anna-Wen/Xmu.Crms.Services.HighGrade.git
	branch = master
[submodule "Xmu.Crms.Services.Group1"]
	path = Xmu.Crms.Services.Group1
	url = https://github.com/Anna-Wen/Xmu.Crms.Services.Group1.git
	branch = master
